h1{
    color:red;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}


body{
    margin: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

nav{
    border: 2px solid #333;
    border-radius: 2rem;
    max-width: 600px;
    margin: 0 auto 1rem;
    font-size: 3rem;
    line-height: 7rem;

}

h2{
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul{
    list-style-type: none;
}

li{
    border-top: 3px solid #333;

}

li a{
    display: block;

}

li a, 
li a:visited{
    text-decoration: none;
}
 
li a:hover{
    background-color: #333;
    color: white;
}

li a:focus{
    background-color: #333;
    color: white;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}